style>
        .menubar{
            background-color: lightpink;
            border: 1px solid crimson;
            color: bisque;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 20px;
            text-align: center;
        }
        #links{
            background-color: lemonchiffon;
            display: inline;
            border: 2px solid linen ;
            padding: 5px ;
            margin: 10px;
    
        }
        #links:hover{
            background-color: indianred;
        }

    </style>